In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import roc_auc_score, plot_roc_curve
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import ComplementNB, GaussianNB
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.impute import SimpleImputer

In [5]:
import numpy as np

In [6]:
years = [2018, 2019, 2020, 2021, 2022]
dfs = []
for year in years:
    df = pd.read_csv(f'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_{year}.csv')
    df['year'] = year
    dfs.append(df)
final_df = pd.concat(dfs)

In [7]:
final_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year
0,2018-M020,Brisbane,Hard,32,A,20180101,271,105992,NaN,NaN,...,33.0,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0,2018
1,2018-M020,Brisbane,Hard,32,A,20180101,272,111577,NaN,NaN,...,25.0,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0,2018
2,2018-M020,Brisbane,Hard,32,A,20180101,273,104797,NaN,NaN,...,37.0,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0,2018
3,2018-M020,Brisbane,Hard,32,A,20180101,275,200282,NaN,WC,...,33.0,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0,2018
4,2018-M020,Brisbane,Hard,32,A,20180101,276,111581,NaN,Q,...,28.0,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0,2018

In [8]:
final_df.describe()

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year
count,11823.000000,1.182300e+04,11823.000000,11823.000000,11739.000000,11822.000000,11823.000000,11593.000000,11822.000000,11823.000000,...,11389.000000,11389.000000,11390.000000,11389.000000,11389.000000,11785.000000,11785.000000,11685.000000,11685.000000,11823.000000
mean,60.271336,2.019878e+07,262.492261,120684.644845,187.539484,27.232093,120406.206969,186.652635,27.465970,3.396346,...,33.950654,14.813153,12.544864,4.828431,8.592063,71.396945,1888.729996,101.171673,1197.572871,2019.829654
std,42.579000,1.442071e+04,162.668020,29758.553485,7.091715,4.726342,29747.927903,6.892000,4.690963,0.797280,...,14.571416,6.946332,4.254158,3.294453,4.160238,115.403786,2125.416320,151.615237,1263.425190,1.439202
min,2.000000,2.018010e+07,1.000000,100644.000000,163.000000,14.900000,100644.000000,170.000000,14.500000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2018.000000
25%,32.000000,2.018123e+07,225.500000,105173.000000,183.000000,23.400000,105311.000000,183.000000,23.700000,3.000000,...,23.000000,10.000000,9.000000,2.000000,6.000000,19.000000,729.000000,35.000000,580.000000,2019.000000
50%,32.000000,2.020012e+07,277.000000,106045.000000,188.000000,26.900000,106043.000000,185.000000,27.400000,3.000000,...,32.000000,14.000000,12.000000,4.000000,8.000000,46.000000,1101.000000,66.000000,880.000000,2020.000000
75%,128.000000,2.021072e+07,290.000000,126138.500000,193.000000,30.900000,125802.000000,190.000000,30.800000,3.000000,...,42.000000,19.000000,15.000000,7.000000,11.000000,84.000000,2045.000000,107.000000,1341.000000,2021.000000
max,128.000000,2.022072e+07,1701.000000,211346.000000,211.000000,42.300000,211346.000000,211.000000,42.500000,5.000000,...,171.000000,50.000000,50.000000,27.000000,38.000000,1821.000000,12415.000000,2146.000000,12355.000000,2022.000000

In [9]:
# nr stands for not ranked
final_df['winner_seed'] = final_df['winner_seed'].replace(np.nan, '0')

In [10]:
final_df['loser_seed'] = final_df['loser_seed'].replace(np.nan, '0')

In [11]:
final_df['winner_seed'].value_counts()

0       6956
1.0      515
2.0      447
3.0      368
5.0      348
        ...
16         3
24         3
33         3
33.0       2
LL         1
Name: winner_seed, Length: 70, dtype: int64

In [12]:
final_df['winner_seed'].replace('WC', '0', inplace = True)

In [13]:
final_df['loser_seed'].replace('WC', '0', inplace = True)

In [14]:
final_df[final_df['winner_seed'] == 'WC']

Empty DataFrame
Columns: [tourney_id, tourney_name, surface, draw_size, tourney_level, tourney_date, match_num, winner_id, winner_seed, winner_entry, winner_name, winner_hand, winner_ht, winner_ioc, winner_age, loser_id, loser_seed, loser_entry, loser_name, loser_hand, loser_ht, loser_ioc, loser_age, score, best_of, round, minutes, w_ace, w_df, w_svpt, w_1stIn, w_1stWon, w_2ndWon, w_SvGms, w_bpSaved, w_bpFaced, l_ace, l_df, l_svpt, l_1stIn, l_1stWon, l_2ndWon, l_SvGms, l_bpSaved, l_bpFaced, winner_rank, winner_rank_points, loser_rank, loser_rank_points, year]
Index: []

[0 rows x 50 columns]

In [15]:
final_df['winner_seed'].replace('LL', '0', inplace = True)

In [16]:
final_df['loser_seed'].replace('LL', '0', inplace = True)

In [17]:
final_df[final_df['winner_seed'] == 'LL']

Empty DataFrame
Columns: [tourney_id, tourney_name, surface, draw_size, tourney_level, tourney_date, match_num, winner_id, winner_seed, winner_entry, winner_name, winner_hand, winner_ht, winner_ioc, winner_age, loser_id, loser_seed, loser_entry, loser_name, loser_hand, loser_ht, loser_ioc, loser_age, score, best_of, round, minutes, w_ace, w_df, w_svpt, w_1stIn, w_1stWon, w_2ndWon, w_SvGms, w_bpSaved, w_bpFaced, l_ace, l_df, l_svpt, l_1stIn, l_1stWon, l_2ndWon, l_SvGms, l_bpSaved, l_bpFaced, winner_rank, winner_rank_points, loser_rank, loser_rank_points, year]
Index: []

[0 rows x 50 columns]

In [18]:
final_df['winner_seed'].replace('Q', '0', inplace = True)

In [19]:
final_df['loser_seed'].replace('Q', '0', inplace = True)

In [20]:
final_df[final_df['winner_seed'] == 'Q']

Empty DataFrame
Columns: [tourney_id, tourney_name, surface, draw_size, tourney_level, tourney_date, match_num, winner_id, winner_seed, winner_entry, winner_name, winner_hand, winner_ht, winner_ioc, winner_age, loser_id, loser_seed, loser_entry, loser_name, loser_hand, loser_ht, loser_ioc, loser_age, score, best_of, round, minutes, w_ace, w_df, w_svpt, w_1stIn, w_1stWon, w_2ndWon, w_SvGms, w_bpSaved, w_bpFaced, l_ace, l_df, l_svpt, l_1stIn, l_1stWon, l_2ndWon, l_SvGms, l_bpSaved, l_bpFaced, winner_rank, winner_rank_points, loser_rank, loser_rank_points, year]
Index: []

[0 rows x 50 columns]

In [21]:
len(final_df['winner_seed'])

11823

In [22]:
final_df['winner_seed'] = final_df['winner_seed'].astype(int)

In [23]:
final_df['loser_seed'] = final_df['loser_seed'].astype(int)

In [24]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11823 entries, 0 to 1925
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          11823 non-null  object
 1   tourney_name        11823 non-null  object
 2   surface             11823 non-null  object
 3   draw_size           11823 non-null  int64
 4   tourney_level       11823 non-null  object
 5   tourney_date        11823 non-null  int64
 6   match_num           11823 non-null  int64
 7   winner_id           11823 non-null  int64
 8   winner_seed         11823 non-null  int64
 9   winner_entry        1811 non-null   object
 10  winner_name         11823 non-null  object
 11  winner_hand         11821 non-null  object
 12  winner_ht           11739 non-null  float64
 13  winner_ioc          11823 non-null  object
 14  winner_age          11822 non-null  float64
 15  loser_id            11823 non-null  int64
 16  loser_seed          11823 non-null  int64
 17  loser_entry         2690 non-null   object
 18  loser_name          11823 non-null  object
 19  loser_hand          11808 non-null  object
 20  loser_ht            11593 non-null  float64
 21  loser_ioc           11823 non-null  object
 22  loser_age           11822 non-null  float64
 23  score               11822 non-null  object
 24  best_of             11823 non-null  int64
 25  round               11823 non-null  object
 26  minutes             11405 non-null  float64
 27  w_ace               11389 non-null  float64
 28  w_df                11389 non-null  float64
 29  w_svpt              11389 non-null  float64
 30  w_1stIn             11389 non-null  float64
 31  w_1stWon            11389 non-null  float64
 32  w_2ndWon            11389 non-null  float64
 33  w_SvGms             11390 non-null  float64
 34  w_bpSaved           11389 non-null  float64
 35  w_bpFaced           11389 non-null  float64
 36  l_ace               11389 non-null  float64
 37  l_df                11389 non-null  float64
 38  l_svpt              11389 non-null  float64
 39  l_1stIn             11389 non-null  float64
 40  l_1stWon            11389 non-null  float64
 41  l_2ndWon            11389 non-null  float64
 42  l_SvGms             11390 non-null  float64
 43  l_bpSaved           11389 non-null  float64
 44  l_bpFaced           11389 non-null  float64
 45  winner_rank         11785 non-null  float64
 46  winner_rank_points  11785 non-null  float64
 47  loser_rank          11685 non-null  float64
 48  loser_rank_points   11685 non-null  float64
 49  year                11823 non-null  int64
dtypes: float64(27), int64(9), object(14)
memory usage: 4.6+ MB

In [25]:
# Next we are going to look at winner and loser entry
# I am assuming that nan players are just normal unseeded players and will also be called nr
final_df['winner_entry'].unique()

array([nan, 'WC', 'Q', 'LL', 'SE', 'PR', 'ALT', 'Alt'], dtype=object)

In [26]:
final_df['winner_entry'] = final_df['winner_entry'].replace(np.nan, '0')

In [27]:
final_df['winner_entry'].unique()

array(['0', 'WC', 'Q', 'LL', 'SE', 'PR', 'ALT', 'Alt'], dtype=object)

In [28]:
final_df['loser_entry'] = final_df['loser_entry'].replace(np.nan, '0')

In [29]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11823 entries, 0 to 1925
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          11823 non-null  object
 1   tourney_name        11823 non-null  object
 2   surface             11823 non-null  object
 3   draw_size           11823 non-null  int64
 4   tourney_level       11823 non-null  object
 5   tourney_date        11823 non-null  int64
 6   match_num           11823 non-null  int64
 7   winner_id           11823 non-null  int64
 8   winner_seed         11823 non-null  int64
 9   winner_entry        11823 non-null  object
 10  winner_name         11823 non-null  object
 11  winner_hand         11821 non-null  object
 12  winner_ht           11739 non-null  float64
 13  winner_ioc          11823 non-null  object
 14  winner_age          11822 non-null  float64
 15  loser_id            11823 non-null  int64
 16  loser_seed          11823 non-null  int64
 17  loser_entry         11823 non-null  object
 18  loser_name          11823 non-null  object
 19  loser_hand          11808 non-null  object
 20  loser_ht            11593 non-null  float64
 21  loser_ioc           11823 non-null  object
 22  loser_age           11822 non-null  float64
 23  score               11822 non-null  object
 24  best_of             11823 non-null  int64
 25  round               11823 non-null  object
 26  minutes             11405 non-null  float64
 27  w_ace               11389 non-null  float64
 28  w_df                11389 non-null  float64
 29  w_svpt              11389 non-null  float64
 30  w_1stIn             11389 non-null  float64
 31  w_1stWon            11389 non-null  float64
 32  w_2ndWon            11389 non-null  float64
 33  w_SvGms             11390 non-null  float64
 34  w_bpSaved           11389 non-null  float64
 35  w_bpFaced           11389 non-null  float64
 36  l_ace               11389 non-null  float64
 37  l_df                11389 non-null  float64
 38  l_svpt              11389 non-null  float64
 39  l_1stIn             11389 non-null  float64
 40  l_1stWon            11389 non-null  float64
 41  l_2ndWon            11389 non-null  float64
 42  l_SvGms             11390 non-null  float64
 43  l_bpSaved           11389 non-null  float64
 44  l_bpFaced           11389 non-null  float64
 45  winner_rank         11785 non-null  float64
 46  winner_rank_points  11785 non-null  float64
 47  loser_rank          11685 non-null  float64
 48  loser_rank_points   11685 non-null  float64
 49  year                11823 non-null  int64
dtypes: float64(27), int64(9), object(14)
memory usage: 4.6+ MB

In [30]:
replace = final_df['winner_ht'].fillna(final_df['winner_ht'].mode()[0], inplace = True)

In [31]:
replace0 = final_df['loser_ht'].fillna(final_df['loser_ht'].mode()[0], inplace = True)

In [32]:
#Winner and loser age
#one null in each so just fill with mode
replace2 = final_df['winner_age'].fillna(final_df['winner_age'].mode()[0], inplace = True)

In [33]:
replace3 = final_df['loser_age'].fillna(final_df['loser_age'].mode()[0], inplace = True)

In [34]:
replace4 = final_df['winner_hand'].fillna(final_df['winner_hand'].mode()[0], inplace = True)

In [35]:
replace5 = final_df['loser_hand'].fillna(final_df['loser_hand'].mode()[0], inplace = True)

In [36]:
final_df = final_df.dropna()

In [37]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11266 entries, 0 to 1923
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          11266 non-null  object
 1   tourney_name        11266 non-null  object
 2   surface             11266 non-null  object
 3   draw_size           11266 non-null  int64
 4   tourney_level       11266 non-null  object
 5   tourney_date        11266 non-null  int64
 6   match_num           11266 non-null  int64
 7   winner_id           11266 non-null  int64
 8   winner_seed         11266 non-null  int64
 9   winner_entry        11266 non-null  object
 10  winner_name         11266 non-null  object
 11  winner_hand         11266 non-null  object
 12  winner_ht           11266 non-null  float64
 13  winner_ioc          11266 non-null  object
 14  winner_age          11266 non-null  float64
 15  loser_id            11266 non-null  int64
 16  loser_seed          11266 non-null  int64
 17  loser_entry         11266 non-null  object
 18  loser_name          11266 non-null  object
 19  loser_hand          11266 non-null  object
 20  loser_ht            11266 non-null  float64
 21  loser_ioc           11266 non-null  object
 22  loser_age           11266 non-null  float64
 23  score               11266 non-null  object
 24  best_of             11266 non-null  int64
 25  round               11266 non-null  object
 26  minutes             11266 non-null  float64
 27  w_ace               11266 non-null  float64
 28  w_df                11266 non-null  float64
 29  w_svpt              11266 non-null  float64
 30  w_1stIn             11266 non-null  float64
 31  w_1stWon            11266 non-null  float64
 32  w_2ndWon            11266 non-null  float64
 33  w_SvGms             11266 non-null  float64
 34  w_bpSaved           11266 non-null  float64
 35  w_bpFaced           11266 non-null  float64
 36  l_ace               11266 non-null  float64
 37  l_df                11266 non-null  float64
 38  l_svpt              11266 non-null  float64
 39  l_1stIn             11266 non-null  float64
 40  l_1stWon            11266 non-null  float64
 41  l_2ndWon            11266 non-null  float64
 42  l_SvGms             11266 non-null  float64
 43  l_bpSaved           11266 non-null  float64
 44  l_bpFaced           11266 non-null  float64
 45  winner_rank         11266 non-null  float64
 46  winner_rank_points  11266 non-null  float64
 47  loser_rank          11266 non-null  float64
 48  loser_rank_points   11266 non-null  float64
 49  year                11266 non-null  int64
dtypes: float64(27), int64(9), object(14)
memory usage: 4.4+ MB

In [38]:
final_df['surface'].value_counts()

Hard     6448
Clay     3554
Grass    1264
Name: surface, dtype: int64

In [39]:
final_df["surface"] = final_df["surface"].astype('category')
final_df.dtypes

tourney_id              object
tourney_name            object
surface               category
draw_size                int64
tourney_level           object
tourney_date             int64
match_num                int64
winner_id                int64
winner_seed              int64
winner_entry            object
winner_name             object
winner_hand             object
winner_ht              float64
winner_ioc              object
winner_age             float64
loser_id                 int64
loser_seed               int64
loser_entry             object
loser_name              object
loser_hand              object
loser_ht               float64
loser_ioc               object
loser_age              float64
score                   object
best_of                  int64
round                   object
minutes                float64
w_ace                  float64
w_df                   float64
w_svpt                 float64
w_1stIn                float64
w_1stWon               float64
w_2ndWon               float64
w_SvGms                float64
w_bpSaved              float64
w_bpFaced              float64
l_ace                  float64
l_df                   float64
l_svpt                 float64
l_1stIn                float64
l_1stWon               float64
l_2ndWon               float64
l_SvGms                float64
l_bpSaved              float64
l_bpFaced              float64
winner_rank            float64
winner_rank_points     float64
loser_rank             float64
loser_rank_points      float64
year                     int64
dtype: object

In [40]:
final_df["surface_cat"] = final_df["surface"].cat.codes
final_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year,surface_cat
0,2018-M020,Brisbane,Hard,32,A,20180101,271,105992,0,0,...,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0,2018,2
1,2018-M020,Brisbane,Hard,32,A,20180101,272,111577,0,0,...,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0,2018,2
2,2018-M020,Brisbane,Hard,32,A,20180101,273,104797,0,0,...,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0,2018,2
3,2018-M020,Brisbane,Hard,32,A,20180101,275,200282,0,WC,...,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0,2018,2
4,2018-M020,Brisbane,Hard,32,A,20180101,276,111581,0,Q,...,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0,2018,2

In [41]:
final_df['surface_cat'].value_counts()
#2 = Hard
#1 = Grass
#0 = Clay

2    6448
0    3554
1    1264
Name: surface_cat, dtype: int64

In [42]:
final_df['surface'].value_counts()

Hard     6448
Clay     3554
Grass    1264
Name: surface, dtype: int64

In [43]:
final_df = final_df.drop(columns = ['tourney_id', 'tourney_name', 'tourney_level', 'tourney_date', 'winner_ioc', 'loser_ioc',
                                   'match_num', 'winner_entry', 'loser_entry', 'surface'])
final_df.head()

,draw_size,winner_id,winner_seed,winner_name,winner_hand,winner_ht,winner_age,loser_id,loser_seed,loser_name,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year,surface_cat
0,32,105992,0,Ryan Harrison,R,183.0,25.6,104919,0,Leonardo Mayer,...,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0,2018,2
1,32,111577,0,Jared Donaldson,R,188.0,21.2,111442,0,Jordan Thompson,...,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0,2018,2
2,32,104797,0,Denis Istomin,R,188.0,31.3,106000,7,Damir Dzumhur,...,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0,2018,2
3,32,200282,0,Alex De Minaur,R,183.0,18.8,105449,0,Steve Johnson,...,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0,2018,2
4,32,111581,0,Michael Mmoh,R,188.0,19.9,105643,0,Federico Delbonis,...,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0,2018,2

In [44]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11266 entries, 0 to 1923
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   draw_size           11266 non-null  int64
 1   winner_id           11266 non-null  int64
 2   winner_seed         11266 non-null  int64
 3   winner_name         11266 non-null  object
 4   winner_hand         11266 non-null  object
 5   winner_ht           11266 non-null  float64
 6   winner_age          11266 non-null  float64
 7   loser_id            11266 non-null  int64
 8   loser_seed          11266 non-null  int64
 9   loser_name          11266 non-null  object
 10  loser_hand          11266 non-null  object
 11  loser_ht            11266 non-null  float64
 12  loser_age           11266 non-null  float64
 13  score               11266 non-null  object
 14  best_of             11266 non-null  int64
 15  round               11266 non-null  object
 16  minutes             11266 non-null  float64
 17  w_ace               11266 non-null  float64
 18  w_df                11266 non-null  float64
 19  w_svpt              11266 non-null  float64
 20  w_1stIn             11266 non-null  float64
 21  w_1stWon            11266 non-null  float64
 22  w_2ndWon            11266 non-null  float64
 23  w_SvGms             11266 non-null  float64
 24  w_bpSaved           11266 non-null  float64
 25  w_bpFaced           11266 non-null  float64
 26  l_ace               11266 non-null  float64
 27  l_df                11266 non-null  float64
 28  l_svpt              11266 non-null  float64
 29  l_1stIn             11266 non-null  float64
 30  l_1stWon            11266 non-null  float64
 31  l_2ndWon            11266 non-null  float64
 32  l_SvGms             11266 non-null  float64
 33  l_bpSaved           11266 non-null  float64
 34  l_bpFaced           11266 non-null  float64
 35  winner_rank         11266 non-null  float64
 36  winner_rank_points  11266 non-null  float64
 37  loser_rank          11266 non-null  float64
 38  loser_rank_points   11266 non-null  float64
 39  year                11266 non-null  int64
 40  surface_cat         11266 non-null  int8
dtypes: float64(27), int64(7), int8(1), object(6)
memory usage: 3.5+ MB

In [45]:
final_df.head()

,draw_size,winner_id,winner_seed,winner_name,winner_hand,winner_ht,winner_age,loser_id,loser_seed,loser_name,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year,surface_cat
0,32,105992,0,Ryan Harrison,R,183.0,25.6,104919,0,Leonardo Mayer,...,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0,2018,2
1,32,111577,0,Jared Donaldson,R,188.0,21.2,111442,0,Jordan Thompson,...,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0,2018,2
2,32,104797,0,Denis Istomin,R,188.0,31.3,106000,7,Damir Dzumhur,...,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0,2018,2
3,32,200282,0,Alex De Minaur,R,183.0,18.8,105449,0,Steve Johnson,...,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0,2018,2
4,32,111581,0,Michael Mmoh,R,188.0,19.9,105643,0,Federico Delbonis,...,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0,2018,2

In [46]:
final_df['winner_hand'].value_counts()

R    9696
L    1517
U      53
Name: winner_hand, dtype: int64

In [47]:
one_hot = pd.get_dummies(final_df, columns=["winner_hand"])

In [48]:
one_hot2 = pd.get_dummies(final_df, columns=["loser_hand"])

In [49]:
final_df.drop(columns= ['winner_hand'], axis=1)
final_df.merge(one_hot)

,draw_size,winner_id,winner_seed,winner_name,winner_hand,winner_ht,winner_age,loser_id,loser_seed,loser_name,...,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year,surface_cat,winner_hand_L,winner_hand_R,winner_hand_U
0,32,105992,0,Ryan Harrison,R,183.0,25.6,104919,0,Leonardo Mayer,...,4.0,47.0,1010.0,52.0,909.0,2018,2,0,1,0
1,32,111577,0,Jared Donaldson,R,188.0,21.2,111442,0,Jordan Thompson,...,11.0,54.0,890.0,94.0,593.0,2018,2,0,1,0
2,32,104797,0,Denis Istomin,R,188.0,31.3,106000,7,Damir Dzumhur,...,16.0,63.0,809.0,30.0,1391.0,2018,2,0,1,0
3,32,200282,0,Alex De Minaur,R,183.0,18.8,105449,0,Steve Johnson,...,6.0,208.0,245.0,44.0,1055.0,2018,2,0,1,0
4,32,111581,0,Michael Mmoh,R,188.0,19.9,105643,0,Federico Delbonis,...,2.0,175.0,299.0,68.0,755.0,2018,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,4,202120,0,Rowland Phillips,R,188.0,28.0,133018,0,Michail Pervolarakis,...,8.0,1390.0,4.0,402.0,98.0,2022,0,0,1,0
11262,4,209080,0,Blaise Bicknell,R,188.0,20.2,202065,0,Petros Tsitsipas,...,4.0,1130.0,8.0,808.0,23.0,2022,0,0,1,0
11263,4,209362,0,Aristotelis Thanos,R,188.0,20.8,209080,0,Blaise Bicknell,...,13.0,1103.0,9.0,1130.0,8.0,2022,0,0,1,0
11264,4,202065,0,Petros Tsitsipas,U,185.0,21.5,202120,0,Rowland Phillips,...,8.0,808.0,23.0,1390.0,4.0,2022,0,0,0,1
11265,4,138846,0,Hong Kit Jack Wong,R,188.0,23.4,105278,0,Alexis Klegou,...,10.0,1059.0,10.0,1881.0,1.0,2022,2,0,1,0

In [50]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11266 entries, 0 to 1923
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   draw_size           11266 non-null  int64
 1   winner_id           11266 non-null  int64
 2   winner_seed         11266 non-null  int64
 3   winner_name         11266 non-null  object
 4   winner_hand         11266 non-null  object
 5   winner_ht           11266 non-null  float64
 6   winner_age          11266 non-null  float64
 7   loser_id            11266 non-null  int64
 8   loser_seed          11266 non-null  int64
 9   loser_name          11266 non-null  object
 10  loser_hand          11266 non-null  object
 11  loser_ht            11266 non-null  float64
 12  loser_age           11266 non-null  float64
 13  score               11266 non-null  object
 14  best_of             11266 non-null  int64
 15  round               11266 non-null  object
 16  minutes             11266 non-null  float64
 17  w_ace               11266 non-null  float64
 18  w_df                11266 non-null  float64
 19  w_svpt              11266 non-null  float64
 20  w_1stIn             11266 non-null  float64
 21  w_1stWon            11266 non-null  float64
 22  w_2ndWon            11266 non-null  float64
 23  w_SvGms             11266 non-null  float64
 24  w_bpSaved           11266 non-null  float64
 25  w_bpFaced           11266 non-null  float64
 26  l_ace               11266 non-null  float64
 27  l_df                11266 non-null  float64
 28  l_svpt              11266 non-null  float64
 29  l_1stIn             11266 non-null  float64
 30  l_1stWon            11266 non-null  float64
 31  l_2ndWon            11266 non-null  float64
 32  l_SvGms             11266 non-null  float64
 33  l_bpSaved           11266 non-null  float64
 34  l_bpFaced           11266 non-null  float64
 35  winner_rank         11266 non-null  float64
 36  winner_rank_points  11266 non-null  float64
 37  loser_rank          11266 non-null  float64
 38  loser_rank_points   11266 non-null  float64
 39  year                11266 non-null  int64
 40  surface_cat         11266 non-null  int8
dtypes: float64(27), int64(7), int8(1), object(6)
memory usage: 3.5+ MB

In [51]:
len(final_df['winner_name'].unique())

413

In [52]:
final_df.drop(columns= ['winner_hand', 'loser_hand'])

,draw_size,winner_id,winner_seed,winner_name,winner_ht,winner_age,loser_id,loser_seed,loser_name,loser_ht,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year,surface_cat
0,32,105992,0,Ryan Harrison,183.0,25.6,104919,0,Leonardo Mayer,188.0,...,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0,2018,2
1,32,111577,0,Jared Donaldson,188.0,21.2,111442,0,Jordan Thompson,183.0,...,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0,2018,2
2,32,104797,0,Denis Istomin,188.0,31.3,106000,7,Damir Dzumhur,172.0,...,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0,2018,2
3,32,200282,0,Alex De Minaur,183.0,18.8,105449,0,Steve Johnson,188.0,...,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0,2018,2
4,32,111581,0,Michael Mmoh,188.0,19.9,105643,0,Federico Delbonis,190.0,...,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0,2018,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,4,202120,0,Rowland Phillips,188.0,28.0,133018,0,Michail Pervolarakis,193.0,...,20.0,13.0,4.0,8.0,1390.0,4.0,402.0,98.0,2022,0
1920,4,209080,0,Blaise Bicknell,188.0,20.2,202065,0,Petros Tsitsipas,185.0,...,14.0,10.0,0.0,4.0,1130.0,8.0,808.0,23.0,2022,0
1921,4,209362,0,Aristotelis Thanos,188.0,20.8,209080,0,Blaise Bicknell,188.0,...,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0,2022,0
1922,4,202065,0,Petros Tsitsipas,185.0,21.5,202120,0,Rowland Phillips,188.0,...,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0,2022,0
1923,4,138846,0,Hong Kit Jack Wong,188.0,23.4,105278,0,Alexis Klegou,188.0,...,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0,2022,2

## Average each column per player to find aggregate performance stats from 2016-current

In [56]:
#categorical_features = ["winner_hand", "loser_hand"]
#categorical_transformer = OneHotEncoder(handle_unknown="ignore")

#preprocessor = ColumnTransformer(
 #   transformers= ["cat", categorical_transformer, categorical_features])

## Final Data Cleaning steps

In [65]:
! ls

createTuple.py	tennis.ipynb

In [66]:
! ls ../

data  notebooks  README.md

In [67]:
! ls ../

data  notebooks  README.md

In [72]:
df = pd.read_csv('../data/favorites', index_col=0)

In [73]:
df.head()

,draw_size,winner_id,winner_seed,winner_name,winner_hand,winner_ht,winner_age,loser_id,loser_seed,loser_name,...,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year,surface_cat,fav_win
0,32,105992,0,Ryan Harrison,R,183.0,25.6,104919,0,Leonardo Mayer,...,14.0,1.0,4.0,47.0,1010.0,52.0,909.0,2018,2,True
1,32,111577,0,Jared Donaldson,R,188.0,21.2,111442,0,Jordan Thompson,...,9.0,7.0,11.0,54.0,890.0,94.0,593.0,2018,2,True
2,32,104797,0,Denis Istomin,R,188.0,31.3,106000,7,Damir Dzumhur,...,15.0,10.0,16.0,63.0,809.0,30.0,1391.0,2018,2,False
3,32,200282,0,Alex De Minaur,R,183.0,18.8,105449,0,Steve Johnson,...,11.0,4.0,6.0,208.0,245.0,44.0,1055.0,2018,2,False
4,32,111581,0,Michael Mmoh,R,188.0,19.9,105643,0,Federico Delbonis,...,9.0,0.0,2.0,175.0,299.0,68.0,755.0,2018,2,False

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10541 entries, 0 to 10540
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10541 non-null  int64
 1   draw_size           10541 non-null  int64
 2   winner_id           10541 non-null  int64
 3   winner_seed         10541 non-null  int64
 4   winner_name         10541 non-null  object
 5   winner_hand         10541 non-null  object
 6   winner_ht           10541 non-null  float64
 7   winner_age          10541 non-null  float64
 8   loser_id            10541 non-null  int64
 9   loser_seed          10541 non-null  int64
 10  loser_name          10541 non-null  object
 11  loser_hand          10541 non-null  object
 12  loser_ht            10541 non-null  float64
 13  loser_age           10541 non-null  float64
 14  best_of             10541 non-null  int64
 15  round               10541 non-null  int64
 16  minutes             10541 non-null  float64
 17  w_ace               10541 non-null  float64
 18  w_df                10541 non-null  float64
 19  w_svpt              10541 non-null  float64
 20  w_1stIn             10541 non-null  float64
 21  w_1stWon            10541 non-null  float64
 22  w_2ndWon            10541 non-null  float64
 23  w_SvGms             10541 non-null  float64
 24  w_bpSaved           10541 non-null  float64
 25  w_bpFaced           10541 non-null  float64
 26  l_ace               10541 non-null  float64
 27  l_df                10541 non-null  float64
 28  l_svpt              10541 non-null  float64
 29  l_1stIn             10541 non-null  float64
 30  l_1stWon            10541 non-null  float64
 31  l_2ndWon            10541 non-null  float64
 32  l_SvGms             10541 non-null  float64
 33  l_bpSaved           10541 non-null  float64
 34  l_bpFaced           10541 non-null  float64
 35  winner_rank         10541 non-null  float64
 36  winner_rank_points  10541 non-null  float64
 37  loser_rank          10541 non-null  float64
 38  loser_rank_points   10541 non-null  float64
 39  year                10541 non-null  int64
 40  surface_cat         10541 non-null  int64
 41  fav_win             10541 non-null  bool
dtypes: bool(1), float64(27), int64(10), object(4)
memory usage: 3.3+ MB

In [74]:
df2 = pd.read_csv('../data/premodel_df', index_col=0)

In [76]:
df2.head()

,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,w_ace,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
player_id,,,,,,,,,,,,,,,,,,
100644,3.702899,75.550725,50.934783,39.644928,12.782609,12.623188,2.949275,4.434783,9.652174,8.341463,6.268293,91.585366,60.439024,42.317073,13.219512,14.829268,4.487805,8.609756
103333,5.368421,97.368421,63.473684,53.578947,18.631579,15.947368,2.631579,3.263158,23.368421,21.862069,4.482759,92.896552,61.448276,50.724138,16.551724,15.275862,2.965517,4.413793
103565,5.000000,86.000000,39.000000,32.000000,28.000000,14.000000,4.000000,5.000000,3.000000,10.500000,6.000000,106.000000,53.500000,37.500000,21.500000,16.000000,10.500000,16.000000
103819,1.703704,76.851852,49.345679,39.222222,16.506173,13.135802,2.703704,3.679012,8.629630,8.277778,2.166667,102.388889,64.722222,47.611111,19.055556,16.277778,4.777778,7.833333
103852,3.606061,82.000000,48.121212,39.575758,18.303030,13.212121,3.333333,4.363636,13.636364,9.921569,4.039216,81.000000,45.490196,33.196078,16.294118,12.509804,4.666667,7.882353

In [75]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 100644 to 209209
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   w_df       309 non-null    float64
 1   w_svpt     309 non-null    float64
 2   w_1stIn    309 non-null    float64
 3   w_1stWon   309 non-null    float64
 4   w_2ndWon   309 non-null    float64
 5   w_SvGms    309 non-null    float64
 6   w_bpSaved  309 non-null    float64
 7   w_bpFaced  309 non-null    float64
 8   w_ace      309 non-null    float64
 9   l_ace      309 non-null    float64
 10  l_df       309 non-null    float64
 11  l_svpt     309 non-null    float64
 12  l_1stIn    309 non-null    float64
 13  l_1stWon   309 non-null    float64
 14  l_2ndWon   309 non-null    float64
 15  l_SvGms    309 non-null    float64
 16  l_bpSaved  309 non-null    float64
 17  l_bpFaced  309 non-null    float64
dtypes: float64(18)
memory usage: 45.9 KB

In [78]:
df.join(df2, on='index')

KeyError: 'index'

In [79]:
df.columns

Index(['draw_size', 'winner_id', 'winner_seed', 'winner_name', 'winner_hand',
       'winner_ht', 'winner_age', 'loser_id', 'loser_seed', 'loser_name',
       'loser_hand', 'loser_ht', 'loser_age', 'best_of', 'round', 'minutes',
       'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms',
       'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn',
       'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'year', 'surface_cat', 'fav_win'],
      dtype='object')

In [ ]:
df['rank_diff'] = (df['winner_rank'] - df['loser_rank'])

In [ ]:
# Setting our X and y variables
X = final_df.drop(columns='winner_name')
y = final_df['winner_name']
# Preparing our hold out data for train test split
X_cols = X.columns
X, X_hold, y, y_hold = train_test_split(X, y, random_state=42, test_size=.05)
# Regular train test split
X_train, X_test, y_train, y_test= train_test_split(X, y, random_state=42)

In [ ]:
# Grouping categorical columns
cat_columns = [c for c in X_train.columns if X_train[c].dtype == 'O']
# Grouping numerical columns
num_columns = [c for c in X_train.columns if X_train[c].dtype in ['int64', 'float64']]
# Combining the numerical and categorical columns
used_cols = [*cat_columns, *num_columns]

In [ ]:
# Instantiating OneHotEncoder(ohe)
cat_transformer = OneHotEncoder(drop='first')
# Instantiating StandardScaler
num_transformer = StandardScaler()

In [ ]:
# Instantiating ColumnTransformer
preprocessor = ColumnTransformer([
    ('cats', cat_transformer, cat_columns),
    ('nums', num_transformer, num_columns)
])

In [ ]:
# Function to show train and test accuracy scores
def evaluate(model, Xtr, Xte, ytr, yte):
    train_preds = model.predict(Xtr)
    test_preds = model.predict(Xte)
    train_probas = model.predict_proba(Xtr)[:,1]
    test_probas {= model.predict_proba(Xte)[:,1]
    plot_confusion_matrix(model, Xte, yte)
    plot_roc_curve(model, Xte, yte)
    print(f"Train Accuracy: {accuracy_score(y_train, train_preds):.4f}")
    print("*" * 20)
    print(f"Test Accuracy: {accuracy_score(y_test, test_preds):.4f}")